body {
	background:url('Itera_logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;}
	h1{
		background-color: #6695bd;
		font-size: 36px;
		margin: 0;}
	p {
		background-color: #6695bd;}
	#wrapper{
  width: 950px;
  margin: auto;
  background-color:rgba(255,255,255,0.8);
  border-radius: 50px;
}
#header{
  height: auto;
  background: transparent;
  margin-top: 12%;
}
